*{
    box-sizing: border-box;
    font-size: 16px;
}

.contenedor{
    height: 50em;
    background-image: url("../img/pinguinos.jpg");
    background-repeat: no-repeat;
}

.encabezado{
    background-color: white;
}

.amarillo{
    background-color: #FEFF99;
}

table{
    margin: auto;
    text-align: center;
    width: 40%;
    border-spacing: 0;
    border-top: 3px solid #FEFF99;
    border-left: 3px solid #FEFF99;
    border-bottom: 3px solid black;
    border-right: 3px solid black;
}

td, th{
    border: 1px solid rgb(66, 123, 142);
    background-color: white;
}