.email{
    background-color: lightgray;
    width: 10rem;
    height: 2rem;
    border-radius: 5%;
    display: flex;
    justify-content: left;
    align-items: center;
}

svg{
    width: 1.5rem;
    height: 1.5rem;
}

input{
    border: none;
}